@using ERP_LabEquipmentManagement.DTOs.Response
@using System.Net.Http.Json
@using MudBlazor
@using System.Text.Json
@using System.Text

@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject ISnackbar Snackbar

@if(_labEquipment.Count>0)
{
<MudTable Items="@_labEquipment">
        <HeaderContent>
            <MudTh class="header-red">Registration No.</MudTh>
            <MudTh class="header-green">Lab Equipment Name</MudTh>
            <MudTh class="header-blue">Is Active or Not</MudTh>
            <MudTh class="header-orange">Category</MudTh>
            <MudTh class="header-purple">Location</MudTh>
        </HeaderContent>

    <RowTemplate>
        
            <MudTd DataLabel="RegNo">@context.EquipmentRegisterId</MudTd>
            <MudTd DataLabel="Name">@context.EquipmentName</MudTd>
            <MudTd DataLabel="Condition">@context.IsActive</MudTd>
            <MudTd DataLabel="Category">@context.SelectCategory</MudTd>
            <MudTd DataLabel="Location">@context.Location</MudTd>
            <MudTd DataLabel="">
                  <div class="button-group">
                <MudContainer Class="flex-direction: row">
                    <MudPaper Elevation="0" Padding="16px">
                        <MudContainer Class="flex-direction: row">
                            <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                                <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit" Size="Size.Small"
                                        OnClick="@(()=>EditLabEquipment(context.Id))" />
                                <MudFab Color="Color.Warning" StartIcon="@Icons.Material.Filled.Delete" Size="Size.Small"
                                            OnClick="@(()=>DeleteLabEquipment(context.Id))" />
                                <MudFab Color="Color.Secondary" OnClick="@(()=>ShowLabEquipment(context.Id))"
                                                StartIcon="@Icons.Material.Filled.Science" Size="Size.Small" />
                               
                
                            </MudItem>
                        </MudContainer>
                    </MudPaper>
                </MudContainer>
                    </div>
            </MudTd>

        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>

    </MudTable>

}
else
{
    <MudProgressLinear Color="Color.Primary" Size="Size.Large" Indeterminate="true" Class="my-7" />
}

<MudMessageBox @ref="mbox" Title="Warning" CancelText="Cancel">
    <MessageContent>
        Are You Sure to Delete This Lab Equipment!
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever">Delete!</MudButton>
    </YesButton>
</MudMessageBox>

    @code {
    private string buttonGroupStyle = "display: flex; gap: 8px;";
   
    private HttpClient Http = new HttpClient();

    MudMessageBox mbox { get; set; }

    public EventCallback onDelete { get; set; }

    private List<GetLabEquipmentResponse> _labEquipment = new List<GetLabEquipmentResponse>();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            _labEquipment = await Http.GetFromJsonAsync<List<GetLabEquipmentResponse>>("https://localhost:7011/api/LabEquipment/Get");
        }
        catch (Exception ex)
        {
            _labEquipment = null;
        }
    }

    async Task ShowLabEquipment(Guid Id)
    {
       var parameters = new DialogParameters<LabEquipmentProfile> { { x => x.Id, Id } };

        var options = new DialogOptions
            {
                MaxWidth = MaxWidth.ExtraSmall,
                FullWidth = true,
                Position = DialogPosition.Center,
                CloseOnEscapeKey = true,
                CloseButton = true
            };

        var dialog = await DialogService.ShowAsync<LabEquipmentProfile>("Lab Equipment Profile", parameters, options);

    }

    async Task EditLabEquipment(Guid Id)
    {
        var parameters = new DialogParameters<UpdateLabEquipment> { { x => x.Id, Id } };

        var options = new DialogOptions
            {
                MaxWidth = MaxWidth.ExtraSmall,
                FullWidth = true,
                Position = DialogPosition.CenterLeft,
                CloseOnEscapeKey = true,
                CloseButton = true
            };

        var dialog = await DialogService.ShowAsync<UpdateLabEquipment>("Save", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            _labEquipment = await Http.GetFromJsonAsync<List<GetLabEquipmentResponse>>("https://localhost:7011/api/LabEquipment/Get");
        }
    }

    async Task DeleteLabEquipment(Guid Id)
    {
        bool? result = await mbox.ShowAsync();
        if (result == true)
        {
            var response = await Http.DeleteAsync($"https://localhost:7011/api/LabEquipment/{Id}");

            if (response.IsSuccessStatusCode)
            {
                Snackbar.Add("LabEquipment Deleted Successfully", Severity.Success);
                _labEquipment = await Http.GetFromJsonAsync<List<GetLabEquipmentResponse>>("https://localhost:7011/api/LabEquipment/Get");
                StateHasChanged();
            }
            else
            {
                Snackbar.Add("Connection error. Lab Equipment is not deleted.", Severity.Error);
            }

        }
        else
        {
            Snackbar.Add("Lab Equipment is Not Deleted", Severity.Info);
        }


    }

}
